extends ../base/layout

block variables
  - const title = "Главная - Test"
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = "header--full"
  - const hasFooter = false
  - const footerMods = ""
  - const currentPage = "main.html"
  - const userAuthorized = false

block main
  main
    .page-content
      +intro()
      +products()

block modals
