mixin intro()
  section.intro
    .container
      .intro__content
        h2.title.title--lg.intro__title Lorem ipsum dolor sit amet, consectetur adipisicing elit
        p.intro__description Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ea commodo consequat. Duis aute irure dolor. In reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
        a(href="#" aria-label="Read more").intro__link.button.button--link.hover-opacity Read more
